/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


body{
    background-color: yellow;
}

h1{
    text-align: center;
}

.buy{
    padding: 10px;
    background-color: white;
    border: 2px solid lawngreen;
}

h2{
    @include grid-row();
    text-align: center;
}

.statItem{
    @include grid-column(3);
    border: 1px solid black;
}

.ingredient{
     @include grid-column(3);
     border: 1px solid black;
}

#price, #end{
    @include grid-column(3);
    width: 30%;
}

#end{
     padding: 15px;
    background-color: white;
    border: 2px solid lawngreen;
}