/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


body{
    background-color: yellow;
    margin:15%;
    // background-image: url('https://sarahgoesorganic.files.wordpress.com/2010/08/lemonade-pitcher.gif');
}

h1{
    text-align: center;
    background-color: lawngreen;
    padding: 15px;
    border-radius: 15px;
}

.buy{
    padding: 10px;
    background-color:lawngreen;
    border: 2px solid yellow;
    border-radius: 15px;
}

h2{
    @include grid-row();
    text-align: center;
    
}

.statItem{
    @include grid-column(2);
    border: 2px solid lawngreen;
    border-radius: 15px;
    text-align: center;
    margin-bottom:10px;
    background-color: lightgoldenrodyellow;
  
}

.ingredient{
     @include grid-column(3);
      border: 2px solid lawngreen;
    border-radius: 15px;
    text-align: center;
    margin-bottom:10px;
    background-color: lightgoldenrodyellow;
}

#price, #end{
    @include grid-column(3);
    width: 30%;
     padding: 15px;
    background-color: white;
    border: 2px solid lawngreen;
    border-radius: 15px;
}

